

<div>
    <h1><%= data.title %></h1>
    <p><%= data.status %></p>
    <h3><%= data.category %></h3>
    <p><%= data.description %></p>
    <a href="/todo">TODO List</a>
     <form method="POST" action="/todo/<%= data.id %>?_method=DELETE">
        <input type='submit' value='DELETE it!!' />
    </form>
</div>